# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Database
*.db
*.sqlite3

# Coverage
.coverage
htmlcov/
.pytest_cache/

data/